*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
}

form{
    background-color: aliceblue;
    border-radius: 5px;
    width: 50%;
}
header{
    text-align: center;
}

main{
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.container{
    width: 50%;
}

.btn{
    padding: 20px;
    text-align: center;
}