*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
}

header{
    text-align: center;
    background-color: aliceblue;
}

main{
    flex-direction: column;
}